 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 609px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 757px;
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 30px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 331px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 28px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 6px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(71,138,201,0.55), rgba(71,138,201,0.55)), url("images/pexels-photo-3312555.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 28px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 6px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 28px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 6px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 744px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 152px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 10px auto 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 19px 268px 0 43px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 442px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/IMG_20220322_143543.jpg");
  background-position: 50% 50%;
  margin: 1px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -165px auto 0 240px;
}

.u-section-2 .u-text-4 {
  margin: 26px auto 0 240px;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 240px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/riteshburle.png");
  background-position: 50% 50%;
  margin: 1px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -165px auto 0 240px;
}

.u-section-2 .u-text-7 {
  margin: 26px auto 0 240px;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 240px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Screenshot_20220409_173621.png");
  background-position: 50% 50%;
  margin: 1px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: -165px auto 0 240px;
}

.u-section-2 .u-text-10 {
  margin: 26px auto 0 240px;
}

.u-section-2 .u-text-11 {
  margin: 20px auto 0 240px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Screenshot_20220409_173705.png");
  background-position: 50% 50%;
  margin: 1px auto 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: -165px auto 0 240px;
}

.u-section-2 .u-text-13 {
  margin: 26px auto 0 240px;
}

.u-section-2 .u-text-14 {
  margin: 20px auto 0 240px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 920px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -170px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 210px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -170px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 46px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 46px;
    margin-right: 0;
    margin-left: 210px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -170px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 36px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 210px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -170px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 32px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 32px;
    margin-right: 0;
    margin-left: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 81px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 18px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 30px;
    margin-left: 0;
  }
}